body {
    margin: 15px;
    font-family: helvetica, arial;
    font-size: 13px;
}

#header {
    align: center;
    padding: 1em;
    padding-bottom: 2em;
}

#header h1 {
    display: inline;
    font-size: 150%;
    padding-bottom: 43px;
    padding-left: 75px;
    padding-top: 30px;
    background-size: 50px;
    background-position: 1px 18px;
}

#settings {
    margin: 6px 6px 0 6px;
    padding: 10px;
}

#settings table {
    font-size: 13px;
}

th, td {
    vertical-align: top;
}

th {
    font-weight: bold;
    white-space: nowrap;
    padding: 12px 24px 12px 12px;
}

td {
    padding: 12px;
}


#blacklist {
    height: 15em;
    width: 25em;
}

.success {
    color: green;
}
